#info-box {
    width: 128px;
}

/*** bars */
.status-bar {
    width: 96px;
    min-height: 32px;
    
    background-image: url('img/statusbar.gif');
}

.empty-bar {
    background-position: -32px 64px;
    float: right;
}

#love-bar {
    background-position: -32px 0px;
}

#hunger-bar {
    background-position: -32px 32px;
}

/*** icons */
.icon {
    max-width: 32px;
    min-width: 32px;
    min-height: 32px;

    background-image: url('img/statusbar.gif');
}

.love-icon-high {
    background-position: 0px 0px;
    float: left;
}

.love-icon-low {
    background-position: 0px -32px;
    float: left;
}

.hunger-icon-high {
    background-position: 0px -64px;
    float: left;
}
